{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('build/style.css') }}" />
{% endblock %}

{% block body %}
<style>
    .example-wrapper {
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
        font: 18px/1.5 sans-serif;
    }

    .example-wrapper code {
        background: #F5F5F5;
        padding: 2px 6px;
    }
</style>

<div class="main-container">

    <div class="about-all">
        <div class="about-img-div">
            <img class="about-img" src="{{ asset('build/images/blue-reality.png') }}">
            <div class="about-text">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Qui modi sunt atque dolorem magni neque
                    eaque ipsam suscipit tempore sed! Deleniti velit quis laudantium id magni
                    dolor voluptatibus nisi
                    at.<br>
                    Be sure to checkout my other website <a
                        href="http://spoti-lightz.cmshost.nl/">http://spoti-lightz.cmshost.nl/</a>
                </p>
            </div>
        </div>
    </div>

</div>

{% endblock %}