{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('build/style.css') }}" />
{% endblock %}

{% block body %}
<style>
    .example-wrapper {
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
        font: 18px/1.5 sans-serif;
    }

    .example-wrapper code {
        background: #F5F5F5;
        padding: 2px 6px;
    }
</style>

<div class="main-container">

    <div class="welcome-text">
        <h3>Welcome to this gaming webshop</h3>
    </div>

    <div class="home-games">
        <img class="game-img-home" src="{{ asset('build/images/ark_pc.jpg') }}">
        <img class="game-img-home" src="{{ asset('build/images/gta_xbox.jpg') }}">
        <img class="game-img-home" src="{{ asset('build/images/fifa_ps4.jpg') }}">
        <img class="game-img-home" src="{{ asset('build/images/rl_xbox.jpg') }}">
        <img class="game-img-home" src="{{ asset('build/images/nba_pc.jpg') }}">
    </div>

</div>

{% endblock %}