{% extends 'base.html.twig' %}

{% block title %}Hello ReviewsController!{% endblock %}

{% block body %}

<body>

    <h1>Review</h1>

    {{ form_start(ReviewsForm) }}
    {{ form_row(ReviewsForm.username) }}
    {{ form_row(ReviewsForm.itemname) }}
    {{ form_row(ReviewsForm.reviewtext) }}


    <button type="submit" class="btn">Submit</button>
    {{ form_end(ReviewsForm) }}

</body>
{% endblock %}