{% extends 'base.html.twig' %}

{% block body %}

<body>

    <h1>Add your game</h1>

    {{ form_start(gameForm) }}
    {{ form_row(gameForm.gameName) }}
    {{ form_row(gameForm.gameImg) }}
    {{ form_row(gameForm.gameDescription) }}
    {{ form_row(gameForm.gamePrice) }}
    {{ form_row(gameForm.console) }}


    <button type="submit" class="btn">Add your game</button>
    {{ form_end(gameForm) }}

</body>
{% endblock %}