<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>

<body>

    {% embed 'navbar.html.twig' %}
    {% block navbar %} {% endblock navbar %}
    {% endembed %}

    {% embed 'footer.html.twig' %}
    {% block footer %} {% endblock footer %}
    {% endembed %}

    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
</body>

</html>