<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{asset('build/style.css')}}" />
</head>

<body>

    <div class="topnav" id="myTopnav">
        <div class="dropdown">
            <a href="/">Home</a>
        </div>

        <div class="dropdown">
            <button class="dropbtn">Console
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="#">PC</a>
                <a href="#">PlayStation</a>
                <a href="#">XBOX</a>
                <!-- <a href="#">Games</a> -->
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn">Review
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/review">Review</a>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn">Account
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn">About
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/about">About</a>
            </div>
        </div>

        <!-- <div class="dropdown">
            <button class="dropbtn">XBOX
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="#">Games</a>
            </div>
        </div> -->

        <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
    </div>

    <script>
        /* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>

</body>

</html>